@page "{id:min(1)}"
@model mehdiskan.web.Pages.Admin.EyeColors.EditModel
@{
    ViewBag.Title = "Edit pattern";
}


@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle fa-fw"></i> @ViewData["Message"]
    </div>
}


<div class="card border-secondary mb-3">

    <div class="card-header text-capitalize">
        <i class="fa fa-plus fa-fw"></i> @ViewBag.Title
    </div>

    <div class="card-body">

        <form method="post" autocomplete="off">


            <input type="hidden" asp-for="EyeColor.EyeColorId" />

            <!-- title -->
            <div class="form-group">
                <label class="form-control-label" asp-for="EyeColor.Name"></label>
                <input type="text" asp-for="EyeColor.Name" class="form-control" />

                <span asp-validation-for="EyeColor.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus fa-fw"></i> Update
                </button>
            </div>

        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
